{
	"parser": "@typescript-eslint/parser",
	"env": {
		"es6": true,
		"node": true,
		"browser": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		}
	},
	"plugins": [
		"react", "@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"google"
	],
	"rules": {
		"linebreak-style": "off",
		"no-unused-vars": "off",
		"no-tabs": "off",
		"operator-linebreak": "off",
		"indent": "off",
		"arrow-parens": "off"
	}
}
